name: Sync upstream release

on:
  workflow_dispatch:
  schedule: 
    - cron: "3 7 * * *"

jobs: 
  check:
    name: Check last version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.upstream.outputs.release }}
      update: ${{ steps.check_tag.outputs.update }}
    steps:
    - name: Get Latest Upstream Release
      id: upstream
      uses: pozetroninc/github-action-get-latest-release@v0.8.0
      with: 
        #repository: ${UPSTREAM}
        owner: coder
        repo: code-server
        excludes: prerelease, draft
        token: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/checkout@v4
      id: checkout
      with:
        ref: develop
        fetch-depth: 0
    - name: Check for Tag
      id: check_tag
      run: |
          if git show-ref --tags --verify --quiet "refs/tags/${{ steps.upstream.outputs.release}}"; then
            echo "Tag ${{ steps.upstream.outputs.release }} exists"
            echo "update=false" >> $GITHUB_OUTPUT
          else
            echo "update=true" >> $GITHUB_OUTPUT
          fi
  update:
    name: Update to last version
    runs-on: ubuntu-latest
    needs: check
    if: needs.check.outputs.update == true
    steps: 
    - name: Strip v prefix
      id: stripv
      run: echo "::set-output name=version::${{ steps.upstream.outputs.release }}"
    - name: Update versions
      id: replace-build
      run: sed -i '/^ARG CODESERVER_VERSION=/s/.*/ARG CODESERVER=${{ steps.stripv.outputs.version }}/' Dockerfile
    - name: Setup committer
      run: |
        git config user.email "action@github.com"
        git config user.name "GitHub Action"
    - name: Commit files and push
      run: |
        git add .
        git commit -m "Bump code server version ${{ steps.stripv.outputs.version }}"
        git push


    


